
header{
	margin-top:20px;
	overflow:hidden;
	position: relative;

}
#disabledInput{
	height:70px;
	padding-top: 45px;
}
#hiddenInput{
	position: absolute;
	top: 59px;
	left: 5px;
	border: none;
	width:60%;
}
.box{
	width:400px; 
	padding:10px 20px;
	box-shadow: 0px 0px 10px inset;
	border-radius:10px;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
	height:450px;
	}
article{
	margin-top:20px;
	}
.row{
	margin:10px 0 10px 0;
	}
.btn{
	width:19%;
	padding:5px 0;
	}
